{% extends 'base.html' %}
{% load static %}

{% block title %}Set Password - Dough Re Mi Patisserie{% endblock %}

{% block content %}
    <section>
        <div class="registration">
            <h1>Set Password</h1>
            <p>Set a password to enable login with your email and password.</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="set_password" id="submit"><h3>Set Password</h3></button>
            </form>
        </div>
    </section>
{% endblock %}
